body {
    text-align: center;
}

.outerbox {
    display: inline-block;
    background-color: rgb(165, 154, 154);
    margin: 6px;
    border-radius: 4px;
}

.button {
    background-color: #1E1E1E;
    color: white;
    height: 45%;
    width: 70%;
    text-align: center;
    margin: 55px auto auto auto;
    display: inline-block;
}

.centeredbox{
    display: inline-block;
    border-style: dashed;
    margin: 40px auto 80px auto;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
}

.green{
    background-color: #0BEE55;
}

.red {
    background-color: #EE1111;
}

.switchbox{
    /* padding: 80px 8px 4px 8px; */
    border-style: dotted;
    border-color: #AA8989;
    border-width: 1px;
    border-radius: 6px;
    display: inline-block;
    width: 100px;
    height: 120px;
    margin: 4px;
    text-align: center;
}